
<ActionBar title="Dish Details" class="action-bar">
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
    <ActionItem ios.systemIcon="9" android.systemIcon="ic_menu_more" (tap)="showActionDialog()"></ActionItem>
</ActionBar>
<ScrollView orientation="vertical">
    <GridLayout class="m-5" rows="auto auto auto" *ngIf="dish" (swipe)="onSwipe($event)">
        <StackLayout id="cardLayout" row="0" class="p-10 border"> 
            <Image id="cardImage" [src]="baseURL + dish.image" [visibility]="!(showComments) ? 'visible' : 'collapsed'"></Image>
        <StackLayout row="0" class="p-10 border"> 
            <Image [src]="baseURL + dish.image"></Image>
            <StackLayout>
                <Label class="h2" [text]="dish.name"></Label>
                <Label class="body" [text]="dish.description" textWrap="true"></Label>      
            </StackLayout>
            <!-- 
                columns="*, *, *" : we have 3 columns, and each of these columns 
                                     will get an equal part of the total width  
                m-t-20 : 20 units of top-margin                      
            -->
            <GridLayout orientation="horizontal" rows="*" columns="*, *, *" class="m-t-20">
                <!--
                    btn-rounded-sm : small rounded button
                    btn-outline: makes a button appear with a border and a transparent background
                -->
                <Button row="0" col="1" [text]="numcomments + ' comments'" class="btn btn-rounded-sm btn-outline no-border" (tap)="showAndHideComments()"></Button>

                <Button row="0" col="1" [text]="numcomments + ' comments'" class="btn btn-rounded-sm btn-outline no-border"></Button>
                <!--
                    [text]="(favorite ? 'fa-heart' : 'fa-heart-o') | fonticon"
                    if favorite == true  then full heart, otherwise empty heart
                    and it is filter by means of | fonticon

                    (tap)="addToFavorites()" : (event)="handler"
                -->
                <Button row="0" col="2" [text]="(favorite ? 'fa-heart' : 'fa-heart-o') | fonticon" 
                        class="btn btn-rounded-sm btn-outline no-border fa" (tap)="addToFavorites()"></Button>
            </GridLayout>  
        </StackLayout>
        <!-- m-t-10 : margin to the top is 10 -->
        <Label row="1" height="40" class="p-10 m-t-10 h3" text="Comments"></Label>
        <ListView id="commentList" row="2" height="300" [items]="dish.comments" class="list-group p-10" [visibility]="showComments ? 'visible' : 'collapsed'">
            <ng-template let-comment="item">
                <StackLayout class="list-group-item">
                    <!-- textWrap : adjust the width within the layout -->
                    <Label class="list-group-item-heading" [text]="comment.comment" textWrap="true"></Label>
                    <StackLayout orientation="horizontal">
                        <Label class="list-group-item-text" [text]="comment.rating"></Label>      
                        <Label class="list-group-item-text" text=" Stars"></Label>
                    </StackLayout>
                    <StackLayout orientation="horizontal">
                    <Label class="list-group-item-text" [text]="'-- ' + comment.author + ', '"></Label>
                    <!-- comment.date | date : date pipe which converts the date string into a standard date that we can display -->      
                    <Label class="list-group-item-text" [text]="comment.date | date"></Label>
                    </StackLayout>      
                </StackLayout>              
            </ng-template>
        </ListView>
    </GridLayout>
    <ActivityIndicator busy="true"  *ngIf="!(dish || errMess)" width="50" height="50" class="activity-indicator"></ActivityIndicator>
    <Label *ngIf="errMess" [text]="'Error: ' + errMess"></Label>
</ScrollView>