<ActionBar title="Reserve Table" class="action-bar">
</ActionBar>
<ScrollView orientation="vertical" tkMainContent class="page">
    <GridLayout class="m-5" rows="auto auto auto auto" columns="*, *" [formGroup]="reservation">
        <Label class="h3 m-15" row="0" col="0" text="No. of Guests" textWrap="true"></Label>
        <TextField class="input input-border" id="textGuests"
            hint="Enter Number of Guests" [text]=''
            (textChange)="onGuestChange($event)"
            row="0" col="1" formControlName="guests"></TextField>
        <Label class="h3 m-15" row="1" col="0" text="Smoking?" textWrap="true"></Label>
        <Switch class="m-15" row="1" col="1" checked="false"
            (checkedChange)="onSmokingChecked($event)" formControlName="smoking"></Switch>
        <Label class="h3 m-15" row="2" col="0" text="Date and Time" textWrap="true"></Label>
        <TextField class="input input-border" id="textDateTime"
            hint="Enter Date and Time" [text]=''
            (textChange)="onDateTimeChange($event)"
            row="2" col="1" formControlName="dateTime"></TextField>
        <Button class="btn btn-primary btn-active m-15" row="3" col="0"
            text="Submit" (tap)="onSubmit()"></Button>
    </GridLayout>
</ScrollView>