
<ActionBar title="Contact Us" class="action-bar"></ActionBar>
<StackLayout orientation="vertical" class="page">
    <GridLayout class="m-5" rows="auto auto auto">
        <StackLayout row="0">
            <StackLayout class="p-10 border">
                <Label class="h2" text="Contact Information"></Label>
                <Label class="body" [text]="contactInfo" textWrap="true"></Label>
            </StackLayout>
        </StackLayout>
    </GridLayout>
</StackLayout>
