
<ActionBar title="About Us" class="action-bar"></ActionBar>
<StackLayout orientation="vertical" class="page">
    <GridLayout class="m-5" rows="auto auto auto">
        <StackLayout row="0">
            <StackLayout class="p-10 border">
                <Label class="h2" text="Our History"></Label>
                <Label class="body" [text]="ourHistory" textWrap="true"></Label>
            </StackLayout>
        </StackLayout>
        <StackLayout row="1">
            <Label class="h2" text="Corporate Leadership"></Label>
            <ListView [items]="leaders" class="list-group" *ngIf="leaders">
                <ng-template let-leader="item">
                    <StackLayout orientation="horizontal" class="list-group-item">
                            <Image row="0" col="0" rowSpan="2" height="108" width="108" [src]="BaseURL + leader.image" class="img-circle thumb p-16"></Image>
                        <GridLayout class="list-group-item" rows="auto *" columns="*">
                            <Label row="0" col="0" class="list-group-item-heading" [text]="leader.name" class="h3" textWrap="true"></Label>
                            <Label row="1" col="0" class="list-group-item-text" [text]="leader.designation" textWrap="true"></Label>
                            <Label row="2" col="0" class="list-group-item-text" [text]="leader.description" textWrap="true"></Label>
                        </GridLayout>
                    </StackLayout>
                </ng-template>
            </ListView>
            <ActivityIndicator busy="true" *ngIf="!(leaders || errMess)" width="50" height="50" class="activity-indicator"></ActivityIndicator>
            <Label *ngIf="errMess" [text]="'Error: ' + errMess"></Label>
        </StackLayout>
    </GridLayout>
</StackLayout>
