<GridLayout columns="*, auto" class="sidedrawer-list-item" (tap)="displayLoginDialog()">
    <Label col="0" [text]="'fa-sign-in' | fonticon" class="sidedrawer-list-item-text fa"></Label>
    <Label col="1" text="Login" class="sidedrawer-list-item-text"></Label>
</GridLayout>
